@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, night, garden ;
}

.bitter-font {
  font-family: "Bitter", serif;
  font-weight: 600;
}

.parkinsans-font {
  font-family: "Parkinsans", sans-serif;
  font-weight: 500;
}
